<div class="max-w-2xl mx-auto bg-white p-6 rounded-md shadow">
  <%= render "pet_details", pet: @pet %>

  <% if user_signed_in? %>
    <% if current_user == @pet.user || current_user.admin? %>
      <%= render "incoming_requests", requests: @incoming_requests %>
    <% else %>
      <%= render "adoption_request_controls", pet: @pet, request: @adoption_request %>
    <% end %>
  <% end %>

  <% if current_user == @pet.user || current_user.admin? %>
    <%= render "owner_actions", pet: @pet %>
  <% end %>
</div>

