<% if resource.errors.any? %>
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4">
    <h3 class="font-semibold mb-2">
      <%= pluralize(resource.errors.count, "error") %> prevented this from being saved:
    </h3>
    <ul class="list-disc pl-5">
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
